.elementor-9 .elementor-element.elementor-element-9ceae6c:not(.elementor-motion-effects-element-type-background), .elementor-9 .elementor-element.elementor-element-9ceae6c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-9 .elementor-element.elementor-element-9ceae6c {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 70px;
    margin-bottom: 0px;
}

.elementor-9 .elementor-element.elementor-element-9ceae6c > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-e1fb2d6 {
    font-family: "Roboto", Sans-serif;
    font-size: 26px;
    font-weight: 400;
}

.elementor-9 .elementor-element.elementor-element-88eab54:not(.elementor-motion-effects-element-type-background), .elementor-9 .elementor-element.elementor-element-88eab54 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #ff6900;
}

.elementor-9 .elementor-element.elementor-element-88eab54 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-9 .elementor-element.elementor-element-88eab54 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-6f21d9f img {
    opacity: 1;
    filter: brightness( 200% ) contrast( 200% ) saturate( 0% ) blur( 0px ) hue-rotate( 0deg );
}

.elementor-9 .elementor-element.elementor-element-39a55f5 {
    text-align: center;
}

.elementor-9 .elementor-element.elementor-element-39a55f5 img {
    filter: brightness( 0% ) contrast( 200% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
}

.elementor-9 .elementor-element.elementor-element-39a55f5 > .elementor-widget-container {
    margin: 30px 20px 20px 20px;
}

.elementor-9 .elementor-element.elementor-element-28b7210 img {
    filter: brightness( 0% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
}

.elementor-9 .elementor-element.elementor-element-28b7210 > .elementor-widget-container {
    margin: -20px 0px 0px 0px;
}

.elementor-9 .elementor-element.elementor-element-97fd1e0 img {
    filter: brightness( 0% ) contrast( 200% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
}

.elementor-9 .elementor-element.elementor-element-97fd1e0 > .elementor-widget-container {
    margin: 25px 0px 0px 0px;
}

.elementor-9 .elementor-element.elementor-element-0e051da:not(.elementor-motion-effects-element-type-background), .elementor-9 .elementor-element.elementor-element-0e051da > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-9 .elementor-element.elementor-element-0e051da {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 00px;
    margin-bottom: 0px;
    padding: 50px 50px 50px 50px;
}

.elementor-9 .elementor-element.elementor-element-0e051da > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-bd74508 {
    text-align: center;
    font-family: "Roboto", Sans-serif;
    font-size: 26px;
    font-weight: 400;
}

.elementor-9 .elementor-element.elementor-element-bd74508 > .elementor-widget-container {
    margin: 60px 0px 0px 0px;
}

.elementor-9 .elementor-element.elementor-element-16de079:not(.elementor-motion-effects-element-type-background), .elementor-9 .elementor-element.elementor-element-16de079 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #ff6900;
}

.elementor-9 .elementor-element.elementor-element-16de079 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 40px 40px 40px 40px;
}

.elementor-9 .elementor-element.elementor-element-16de079 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-002a0c8 {
    font-family: "Roboto", Sans-serif;
    font-size: 41px;
    font-weight: 400;
}

.elementor-9 .elementor-element.elementor-element-6995954 {
    font-family: "Roboto", Sans-serif;
    font-size: 69px;
    font-weight: 400;
}

.elementor-9 .elementor-element.elementor-element-2be4b92 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-9 .elementor-element.elementor-element-a2a996d:not(.elementor-motion-effects-element-type-background), .elementor-9 .elementor-element.elementor-element-a2a996d > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #ff6900;
}

.elementor-9 .elementor-element.elementor-element-a2a996d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-9 .elementor-element.elementor-element-a2a996d > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-3e57bdd:not(.elementor-motion-effects-element-type-background), .elementor-9 .elementor-element.elementor-element-3e57bdd > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-9 .elementor-element.elementor-element-3e57bdd {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-9 .elementor-element.elementor-element-3e57bdd > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-9042775 img {
    filter: brightness( 200% ) contrast( 1% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
}

.elementor-9 .elementor-element.elementor-element-42c8195 {
    font-family: "Roboto", Sans-serif;
    font-size: 1px;
    font-weight: 400;
}

.elementor-9 .elementor-element.elementor-element-c0b7630 .elementor-button {
    background-color: #ff6900;
}

.elementor-9 .elementor-element.elementor-element-c740d0d:not(.elementor-motion-effects-element-type-background), .elementor-9 .elementor-element.elementor-element-c740d0d > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #ff6900;
}

.elementor-9 .elementor-element.elementor-element-c740d0d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-9 .elementor-element.elementor-element-c740d0d > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-2b08931 img {
    filter: brightness( 0% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
}

.elementor-9 .elementor-element.elementor-element-48d9df8:not(.elementor-motion-effects-element-type-background), .elementor-9 .elementor-element.elementor-element-48d9df8 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #ff6900;
}

.elementor-9 .elementor-element.elementor-element-48d9df8 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px 20px 50px 20px;
}

.elementor-9 .elementor-element.elementor-element-48d9df8 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-c1ba94c > .elementor-element-populated {
    border-style: groove;
    border-color: #FFEEEE;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-9 .elementor-element.elementor-element-c1ba94c > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-fabff79 > .elementor-element-populated {
    border-style: groove;
    border-color: #FFFFFF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-9 .elementor-element.elementor-element-fabff79 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-ed60e7c > .elementor-element-populated {
    border-style: groove;
    border-color: #FFFFFF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-9 .elementor-element.elementor-element-ed60e7c > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-3617dcf:not(.elementor-motion-effects-element-type-background), .elementor-9 .elementor-element.elementor-element-3617dcf > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #ff6900;
}

.elementor-9 .elementor-element.elementor-element-3617dcf {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-9 .elementor-element.elementor-element-3617dcf > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-36b4308:not(.elementor-motion-effects-element-type-background), .elementor-9 .elementor-element.elementor-element-36b4308 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-9 .elementor-element.elementor-element-36b4308 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-9 .elementor-element.elementor-element-36b4308 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-9195402 img {
    filter: brightness( 200% ) contrast( 0% ) saturate( 105% ) blur( 0px ) hue-rotate( 2deg );
}

.elementor-9 .elementor-element.elementor-element-937b1dc:not(.elementor-motion-effects-element-type-background), .elementor-9 .elementor-element.elementor-element-937b1dc > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-9 .elementor-element.elementor-element-937b1dc {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-9 .elementor-element.elementor-element-937b1dc > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-00e8d9a > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-9 .elementor-element.elementor-element-37d9b51 > .elementor-widget-container {
    padding: 0px 0px 45px 0px;
    border-style: groove;
    border-color: #FFFFFF;
}

.elementor-9 .elementor-element.elementor-element-c8ce7d9 > .elementor-widget-container {
    padding: 0px 0px 45px 0px;
    border-style: groove;
    border-color: #FFFFFF;
}

.elementor-9 .elementor-element.elementor-element-49de141:not(.elementor-motion-effects-element-type-background), .elementor-9 .elementor-element.elementor-element-49de141 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-9 .elementor-element.elementor-element-49de141 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-9 .elementor-element.elementor-element-49de141 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-2ed39c6:not(.elementor-motion-effects-element-type-background), .elementor-9 .elementor-element.elementor-element-2ed39c6 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #ff6900;
}

.elementor-9 .elementor-element.elementor-element-2ed39c6 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-9 .elementor-element.elementor-element-2ed39c6 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-44714f1 img {
    filter: brightness( 0% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
}

.elementor-9 .elementor-element.elementor-element-1d0cfdf:not(.elementor-motion-effects-element-type-background), .elementor-9 .elementor-element.elementor-element-1d0cfdf > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #ff6900;
}

.elementor-9 .elementor-element.elementor-element-1d0cfdf {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 8px 0px;
}

.elementor-9 .elementor-element.elementor-element-1d0cfdf > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-95f364b > .elementor-element-populated {
    border-style: groove;
    border-color: #FFFFFF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-9 .elementor-element.elementor-element-95f364b > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-8bad4a9 > .elementor-element-populated {
    border-style: groove;
    border-color: #FFFFFF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-9 .elementor-element.elementor-element-8bad4a9 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-3b83263 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 13px 0px;
}

@media(max-width: 767px) {
    .elementor-9 .elementor-element.elementor-element-bd74508 > .elementor-widget-container {
        margin:0px 0px 0px 0px;
    }

    .elementor-9 .elementor-element.elementor-element-fabff79 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 18px;
    }
}
